body{
    width:100vw;
}

table{
    width: 300px;
    color: white;
    background-color:blue;
}

table tr:nth-child(1){
    background-color:white;
    color:blue
}

table td{
    text-align: center;
    height: 50px;
    border: 1px solid white;
}